
        /* CSS Styles */
        body {
            font-family: 'Comic Sans MS', sans-serif;
        }
        .khmer-muol {
            font-family: 'Khmer OS Muol Light', serif;
        }
        .khmer-bokor {
            font-family: 'Khmer OS Bokor', serif;
        }
        .koulen {
            font-family: 'Koulen', sans-serif;
        }
